body {
  display: block; /* Reset the flex layout */
  margin: 0;
  padding: 0;
}

header {
  display: block; /* Ensure the header isn't forcing alignment */
  text-align: left;
  padding: 0px;
}

h2 {
  text-align: left;
  padding: 0.3em;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
